.formContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.formContainer__form {
	width: 85%;
	margin-bottom: 0;
}

.formContainer__button {
	width: 15%;
}
