Button {
    width: 38px;
    height: 38px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #eee;
}

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 10px;
    top: 3px;
    width: 10px;
    height: 19px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}